body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://plus.unsplash.com/premium_photo-1667502842264-9cdcdac36086?q=80&w=2022&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    color: black;
    text-align: center;
  }


p{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    margin: 0;
}

h1{
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 1000;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
}
.t{
    color: rgb(203, 2, 2);
    text-shadow: 3px 3px rgb(104, 79, 79);
    font-family: 'Pacifico', cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 75px;
}
.uno{
    color: white;
    background-color: #1e152ad5;
    margin: 20px auto;
    border-radius: 20px;
    padding: 20px;
    max-height: 250px;
    max-width: 600px; 
}

.left{
    float: left;
    border-radius: 10px;
}
.contenido{
    padding-left: 130px;
    padding-top: 35px;
    padding-bottom: 30px;
}
a:link{
    color: rgb(72, 0, 255);
}
a:visited{
    color: rgb(72, 0, 255);
}
a:hover{
    color: rgb(207, 149, 149);
}
a:active{
    color: pink;
}